@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /*take up entire viewport height*/
  overflow: hidden; /*no scroll bars by default*/
  margin: 0;
}
