@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: "Lato", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  letter-spacing: 3px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee; /*initial color for pokemon cards*/
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

/*this puts the pokemon image inside of the containers*/
.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.name .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

div.gen-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 15px;
  width: 55vw;
}

/*The actual buttons in the separate divs need to be separated as well*/
.gen-button-cont {
  min-width: 25%;
  margin: 20px auto;
  display: flex;
  justify-content: center
}

.gen-button {
  background-color: #6096AA;
  border-radius: 5px;
  color:#F1E5D8;
  text-align: center;
  padding: 20px 25px;
  width: 90%;
}

@media (max-width: 1000px) {
  div.gen-buttons {
    flex-direction: column;
    width: 90vw;
  }

  .gen-button {
    width: 100%;
    padding: 15px 20px;
  }

  .gen-button-cont {
    min-width: 90%;
    margin: 5px auto;
  }
}